
 	 Check Design Report
	 -------------------- 

  Unresolved References & Empty Modules
  ------------------------------------- 
No unresolved references in design 'auto_multiplier'

No empty modules in design 'auto_multiplier'

 Unloaded Pin(s), Port(s)
 -------------------------
No unloaded sequential element in 'auto_multiplier'

No unloaded port in 'auto_multiplier'

 Assigns
 ------- 
Total number of assign statements in design 'auto_multiplier' : 0

 Undriven Port(s)/Pin(s)
 ------------------------
No undriven combinational pin in 'auto_multiplier'

No undriven sequential pin in 'auto_multiplier'

No undriven hierarchical pin in 'auto_multiplier'

No undriven port in 'auto_multiplier'

 Multidriven Port(s)/Pin(s)
--------------------------

The following combinational pin(s) in design 'auto_multiplier' are multidriven
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g1/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g10/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g11/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g12/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g13/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g14/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g15/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g16/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g17/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g18/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g19/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g2/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g20/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g21/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g22/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g23/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g24/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g25/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g26/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g27/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g28/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g29/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g3/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g30/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g31/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g32/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g33/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g34/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g35/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g36/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g37/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g38/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g39/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g4/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g40/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g41/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g42/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g43/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g44/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g45/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g46/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g47/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g48/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g49/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g5/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g50/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g51/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g52/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g53/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g54/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g55/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g56/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g57/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g58/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g59/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g6/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g60/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g61/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g62/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g63/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g64/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g7/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g8/pins_in/data0
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g9/pins_in/data0
Total number of combinational multidriven pin(s) in design 'auto_multiplier' : 64

The following sequential pin(s) in design 'auto_multiplier' are multidriven
/designs/auto_multiplier/instances_seq/result_reg_s_reg[0]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[10]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[11]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[12]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[13]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[14]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[15]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[16]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[17]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[18]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[19]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[1]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[20]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[21]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[22]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[23]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[24]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[25]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[26]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[27]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[28]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[29]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[2]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[30]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[31]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[32]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[33]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[34]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[35]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[36]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[37]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[38]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[39]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[3]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[40]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[41]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[42]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[43]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[44]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[45]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[46]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[47]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[48]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[49]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[4]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[50]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[51]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[52]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[53]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[54]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[55]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[56]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[57]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[58]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[59]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[5]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[60]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[61]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[62]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[63]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[6]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[7]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[8]/pins_in/d
/designs/auto_multiplier/instances_seq/result_reg_s_reg[9]/pins_in/d
Total number of sequential multidriven pin(s) in design 'auto_multiplier' : 64

No multidriven hierarchical pin in 'auto_multiplier'

The following ports in design 'auto_multiplier' are multidriven
/designs/auto_multiplier/ports_out/result[0]
/designs/auto_multiplier/ports_out/result[10]
/designs/auto_multiplier/ports_out/result[11]
/designs/auto_multiplier/ports_out/result[12]
/designs/auto_multiplier/ports_out/result[13]
/designs/auto_multiplier/ports_out/result[14]
/designs/auto_multiplier/ports_out/result[15]
/designs/auto_multiplier/ports_out/result[16]
/designs/auto_multiplier/ports_out/result[17]
/designs/auto_multiplier/ports_out/result[18]
/designs/auto_multiplier/ports_out/result[19]
/designs/auto_multiplier/ports_out/result[1]
/designs/auto_multiplier/ports_out/result[20]
/designs/auto_multiplier/ports_out/result[21]
/designs/auto_multiplier/ports_out/result[22]
/designs/auto_multiplier/ports_out/result[23]
/designs/auto_multiplier/ports_out/result[24]
/designs/auto_multiplier/ports_out/result[25]
/designs/auto_multiplier/ports_out/result[26]
/designs/auto_multiplier/ports_out/result[27]
/designs/auto_multiplier/ports_out/result[28]
/designs/auto_multiplier/ports_out/result[29]
/designs/auto_multiplier/ports_out/result[2]
/designs/auto_multiplier/ports_out/result[30]
/designs/auto_multiplier/ports_out/result[31]
/designs/auto_multiplier/ports_out/result[32]
/designs/auto_multiplier/ports_out/result[33]
/designs/auto_multiplier/ports_out/result[34]
/designs/auto_multiplier/ports_out/result[35]
/designs/auto_multiplier/ports_out/result[36]
/designs/auto_multiplier/ports_out/result[37]
/designs/auto_multiplier/ports_out/result[38]
/designs/auto_multiplier/ports_out/result[39]
/designs/auto_multiplier/ports_out/result[3]
/designs/auto_multiplier/ports_out/result[40]
/designs/auto_multiplier/ports_out/result[41]
/designs/auto_multiplier/ports_out/result[42]
/designs/auto_multiplier/ports_out/result[43]
/designs/auto_multiplier/ports_out/result[44]
/designs/auto_multiplier/ports_out/result[45]
/designs/auto_multiplier/ports_out/result[46]
/designs/auto_multiplier/ports_out/result[47]
/designs/auto_multiplier/ports_out/result[48]
/designs/auto_multiplier/ports_out/result[49]
/designs/auto_multiplier/ports_out/result[4]
/designs/auto_multiplier/ports_out/result[50]
/designs/auto_multiplier/ports_out/result[51]
/designs/auto_multiplier/ports_out/result[52]
/designs/auto_multiplier/ports_out/result[53]
/designs/auto_multiplier/ports_out/result[54]
/designs/auto_multiplier/ports_out/result[55]
/designs/auto_multiplier/ports_out/result[56]
/designs/auto_multiplier/ports_out/result[57]
/designs/auto_multiplier/ports_out/result[58]
/designs/auto_multiplier/ports_out/result[59]
/designs/auto_multiplier/ports_out/result[5]
/designs/auto_multiplier/ports_out/result[60]
/designs/auto_multiplier/ports_out/result[61]
/designs/auto_multiplier/ports_out/result[62]
/designs/auto_multiplier/ports_out/result[63]
/designs/auto_multiplier/ports_out/result[6]
/designs/auto_multiplier/ports_out/result[7]
/designs/auto_multiplier/ports_out/result[8]
/designs/auto_multiplier/ports_out/result[9]
Total number of multidriven port(s) in design 'auto_multiplier' : 64

  Constant Pin(s)
  ----------------
design 'auto_multiplier' has the following constant input combinational pin(s)
/designs/auto_multiplier/instances_comb/mul_85_55_g6830/pins_in/in_0
/designs/auto_multiplier/instances_comb/mul_85_55_g6994/pins_in/in_0
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g1/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g10/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g11/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g12/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g13/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g14/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g15/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g16/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g17/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g18/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g19/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g2/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g20/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g21/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g22/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g23/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g24/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g25/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g26/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g27/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g28/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g29/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g3/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g30/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g31/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g32/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g4/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g5/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g6/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g7/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g8/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplicand_reg_s_66_14_g9/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g1/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g10/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g11/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g12/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g13/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g14/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g15/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g16/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g17/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g18/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g19/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g2/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g20/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g21/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g22/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g23/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g24/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g25/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g26/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g27/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g28/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g29/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g3/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g30/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g31/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g32/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g4/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g5/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g6/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g7/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g8/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_multiplier_reg_s_66_14_g9/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g1/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g10/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g11/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g12/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g13/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g14/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g15/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g16/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g17/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g18/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g19/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g2/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g20/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g21/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g22/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g23/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g24/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g25/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g26/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g27/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g28/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g29/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g3/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g30/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g31/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g32/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g33/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g34/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g35/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g36/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g37/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g38/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g39/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g4/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g40/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g41/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g42/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g43/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g44/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g45/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g46/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g47/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g48/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g49/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g5/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g50/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g51/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g52/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g53/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g54/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g55/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g56/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g57/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g58/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g59/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g6/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g60/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g61/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g62/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g63/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g64/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g7/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g8/pins_in/data1
/designs/auto_multiplier/instances_comb/mux_result_reg_s_66_14_g9/pins_in/data1
Total number of constant combinational pins in design 'auto_multiplier' : 130

No constant sequential pin(s) in design 'auto_multiplier'

No constant hierarchical pin(s) in design 'auto_multiplier'

No constant connected ports in design 'auto_multiplier'

  Preserved instances(s)
  ----------------
No preserved combinational instance(s) in design 'auto_multiplier'
No preserved sequential instance(s) in design 'auto_multiplier'
No preserved hierarchical instance(s) in design 'auto_multiplier'

Libcells with no corresponding LEF
----------------------------------
No libcell(s) found.

LEF cells with no corresponding libcell
---------------------------------------

No physical (LEF) cells found.

 Summary
 ------- 

                Name                 Total 
-------------------------------------------
Unresolved References                    0 
Empty Modules                            0 
Unloaded Port(s)                         0 
Unloaded Sequential Pin(s)               0 
Assigns                                  0 
Undriven Port(s)                         0 
Undriven Leaf Pin(s)                     0 
Undriven hierarchical pin(s)             0 
Multidriven Port(s)                     64 
Multidriven Leaf Pin(s)                128 
Multidriven hierarchical Pin(s)          0 
Constant Port(s)                         0 
Constant Leaf Pin(s)                   130 
Constant hierarchical Pin(s)             0 
Preserved leaf instance(s)               0 
Preserved hierarchical instance(s)       0 
Libcells with no LEF cell                0 
Physical (LEF) cells with no libcell     0 
